
# venv files
venv/

# video files
*.avi

# video data folder
video_data/

runs/

videos/


*.png

*.jpg
*.jpeg
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.gif
*.bmp


# dataset folder

Cavity_Sediment_Segmentation/

Cavity-Sediment_Segmentation_v2/

runs/